[package]
name = "thumbs"
version = "0.2.0"
authors = ["Antoine Gourlay <antoine@gourlay.fr>"]
edition = "2018"

[dependencies]
structopt = "0.2"
common_failures = "0.1"
failure = "0.1"
url = "1.7"
md5 = "0.6"
log = "0.4"
stderrlog = "0.4"
dirs = "1.0"
walkdir = "2.2"
lazy_static = "1.2"
globset = "0.3"
magick_rust_6 = { version = "0.6", git = "https://github.com/gourlaysama/magick-rust", tag = "0.6.6-patched", optional = true }
magick_rust = { version = "0.10", optional = true }

[features]
default = ["cleanup"]
cleanup = ["magick_rust_6"]
cleanup-magick7 = ["magick_rust"]

[build-dependencies]
built = "0.3"

[profile.release]
lto = true
panic = 'abort'
